# Chapter 7 - Collaborative Analytics with Plotly
## Segment  2 - Creating statistical charts
#### Setting up to use Plotly within Jupyter

In [22]:
import numpy as np
import pandas as pd

import cufflinks as cf

# # Deprecated
# import plotly.plotly as py
# import plotly.tools as tls
# import plotly.graph_objs as go

import chart_studio.plotly as py 
import chart_studio.tools as tls
import plotly.graph_objs as go

import sklearn
from sklearn.preprocessing import StandardScaler

In [23]:
tls.set_credentials_file(username='sometheasiekswx', api_key='ZxowMj0oP2qUPQHWyi4B')

### Creating histograms
#### Make a histogram from a pandas Series object

In [25]:
address = 'Data/mtcars.csv'

cars = pd.read_csv(address)
cars.columns = ['car_names','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [28]:
mpg = cars.mpg
mpg.iplot(kind='histogram', filename='simple-histogram-chart')

In [31]:
cars_subset = cars[['mpg', 'disp', 'hp']]
cars_subset_std = StandardScaler().fit_transform(cars_subset)
cars_select = pd.DataFrame(cars_subset_std)
cars_select.columns = ['mpg', 'disp', 'hp']
cars_select.head()

        mpg      disp        hp
0  0.153299 -0.579750 -0.543655
1  0.153299 -0.579750 -0.543655
2  0.456737 -1.006026 -0.795570
3  0.220730  0.223615 -0.543655
4 -0.234427  1.059772  0.419550

In [32]:
cars_select.iplot(kind='histogram', filename='multple-hist')

In [35]:
cars_select.iplot(kind='histogram', subplots=True, filename='subplot-hist')

In [37]:
cars_select.iplot(kind='histogram', subplots=True, shape=(3,1), filename='subplot-hist')

In [38]:
cars_select.iplot(kind='histogram', subplots=True, shape=(1,3), filename='subplot-hist')

### Creating box plots

In [40]:
cars_select.iplot(kind='box', filename='boxplots')

### Creating scatter plots

In [41]:
fig = {
    'data': [
        {'x': cars_select.mpg, 'y': cars_select.disp, 'mode': 'markers', 'name':'mpg'},
        {'x': cars_select.hp, 'y': cars_select.disp, 'mode': 'markers', 'name':'hp'},
    ],
    'layout': {
        'xaxis': {
            'title': ''
        },
        'yaxis': {
            'title': 'Standardized Displacement'
        }
    }
}
py.iplot(fig, filename='grouped-scatter-plot')